In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import random
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
import plotly.express as px
import glob
from tqdm import tqdm

In [6]:
print("Hello World")

Hello World

In [7]:
df = pd.read_csv("fire_nrt_M-C61_358737.csv")

In [8]:
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,31.65228,-97.08868,300.75,1.00,1.00,2023-01-01,1702,Terra,MODIS,41,6.1NRT,289.00,3.03,D
1,32.40350,-99.22527,303.55,1.07,1.03,2023-01-01,1702,Terra,MODIS,40,6.1NRT,288.79,5.30,D
2,32.40496,-99.23645,313.35,1.07,1.03,2023-01-01,1702,Terra,MODIS,74,6.1NRT,289.93,12.59,D
3,33.79848,-94.81848,306.13,1.09,1.04,2023-01-01,1702,Terra,MODIS,44,6.1NRT,284.97,8.08,D
4,29.57430,-98.02966,305.79,1.00,1.00,2023-01-01,1702,Terra,MODIS,58,6.1NRT,293.75,3.86,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39956,19.41791,-155.28799,300.65,1.22,1.10,2023-06-18,826,Terra,MODIS,13,6.1NRT,288.16,6.04,N
39957,19.39738,-155.27895,349.05,1.95,1.36,2023-06-18,1246,Aqua,MODIS,100,6.1NRT,286.47,164.84,N
39958,19.41270,-155.29488,375.04,1.94,1.36,2023-06-18,1246,Aqua,MODIS,100,6.1NRT,292.28,358.01,N
39959,19.40931,-155.27634,394.27,1.95,1.36,2023-06-18,1246,Aqua,MODIS,100,6.1NRT,298.17,589.75,N
39960,19.40071,-155.29709,332.47,1.94,1.36,2023-06-18,1246,Aqua,MODIS,100,6.1NRT,286.23,89.22,N

In [9]:
df2 = pd.read_csv("fire_archive_M-C61_358737.csv")
df2

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,40.3912,-79.8591,301.6,1.6,1.2,2018-06-01,257,Terra,MODIS,42,6.03,289.7,7.0,N,2
1,41.4612,-81.6754,305.3,1.9,1.3,2018-06-01,258,Terra,MODIS,64,6.03,291.1,12.8,N,2
2,30.3241,-91.2348,309.1,1.4,1.2,2018-06-01,433,Terra,MODIS,74,6.03,296.7,11.4,N,2
3,33.7179,-95.9885,307.3,1.0,1.0,2018-06-01,434,Terra,MODIS,69,6.03,297.1,4.8,N,0
4,31.6460,-101.7709,309.0,1.7,1.3,2018-06-01,434,Terra,MODIS,70,6.03,297.7,14.9,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638177,37.3712,-94.0926,308.8,1.3,1.1,2022-12-31,1918,Aqua,MODIS,68,6.03,286.9,12.9,D,0
638178,35.1068,-94.8170,321.1,1.5,1.2,2022-12-31,1918,Aqua,MODIS,81,6.03,287.0,35.7,D,0
638179,35.0974,-94.8194,314.0,1.5,1.2,2022-12-31,1918,Aqua,MODIS,74,6.03,287.4,23.7,D,0
638180,39.1740,-94.3173,306.0,1.2,1.1,2022-12-31,1919,Aqua,MODIS,54,6.03,276.2,13.7,D,0
638181,39.1562,-97.9296,301.3,1.9,1.3,2022-12-31,1919,Aqua,MODIS,38,6.03,283.5,14.7,D,0

In [3]:
t0 = datetime.now()
filenames = glob.glob('data/*.csv')
filenames
len(filenames)

['data/fire_nrt_M-C61_358737.csv',
 'data/fire_nrt_J1V-C2_358738.csv',
 'data/fire_nrt_SV-C2_358739.csv',
 'data/fire_archive_M-C61_358737.csv',
 'data/fire_archive_SV-C2_358739.csv']

5

In [4]:
rows = []
for f in tqdm(filenames):
    df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False #, nrows=1000
                    )
    csv_name = f.split('/')[-1]
    row = [
        f, csv_name, df.shape[0], df.shape[1], df.acq_date.min(), df.acq_date.max(),
        df.satellite.max(), df.instrument.max(), df.version.max(),
        df.latitude.nunique(), df.longitude.nunique(),
        df.confidence.nunique(), df.satellite.nunique(), df.acq_date.nunique()
    ]
    rows.append(row)

cols = [
    'path', 'csv', 'rows', 'cols', 'start', 'end',
    'satellite', 'instrument', 'version',
    'lats', 'lons', 'confs', 'sats', 'days'
]
filestats = pd.DataFrame(rows, columns=cols)
filestats.sort_values(by=['start', 'instrument'])

  0%|                                                                                                                                                 | 0/5 [00:00<?, ?it/s]/var/folders/ch/dfwbr0753ygb4c4qp28pw4qh0000gn/T/ipykernel_1580/1298760360.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False #, nrows=1000
 40%|██████████████████████████████████████████████████████▊                                                                                  | 2/5 [00:01<00:02,  1.20it/s]/var/folders/ch/dfwbr0753ygb4c4qp28pw4qh0000gn/T/ipykernel_1580/1298760360.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False #, nrows=1000
 60%|██████████████████████████████████████████████████████████████████████████████████▏                                                      | 3/5 [00:01<00:01,  1.65it/s]/var/folders/ch/dfwbr0753ygb4c4qp28pw4qh0000gn/T/ipykernel_1580/1298760360.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False #, nrows=1000
 80%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                           | 4/5 [00:02<00:00,  1.80it/s]/var/folders/ch/dfwbr0753ygb4c4qp28pw4qh0000gn/T/ipykernel_1580/1298760360.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False #, nrows=1000
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:04<00:00,  1.09it/s]

,path,csv,rows,cols,start,end,satellite,instrument,version,lats,lons,confs,sats,days
3,data/fire_archive_M-C61_358737.csv,fire_archive_M-C61_358737.csv,638182,15,2018-06-01,2022-12-31,Terra,MODIS,6.03,228057,330093,101,2,1675
4,data/fire_archive_SV-C2_358739.csv,fire_archive_SV-C2_358739.csv,2547910,15,2018-06-01,2022-08-31,N,VIIRS,1,1910814,1663564,3,1,1552
1,data/fire_nrt_J1V-C2_358738.csv,fire_nrt_J1V-C2_358738.csv,2056103,14,2019-12-04,2023-06-18,1,VIIRS,2.0NRT,1199175,1324964,3,1,1291
2,data/fire_nrt_SV-C2_358739.csv,fire_nrt_SV-C2_358739.csv,325965,14,2022-09-01,2023-06-18,N,VIIRS,2.0NRT,280451,286882,3,1,291
0,data/fire_nrt_M-C61_358737.csv,fire_nrt_M-C61_358737.csv,39961,14,2023-01-01,2023-06-18,Terra,MODIS,6.1NRT,39285,39487,99,2,169